.contenedor-navegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 2rem;
    & span{
        color: $rojo;
    }
}
@keyframes desplazamiento {
    0%{
        transform: translateX(100%);
    }
    100% {
        transform: translateY(0);
    }
}
.contenedor-nav{
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    // width: 20rem;
    padding: 6rem 4rem;
    background-color: $rojo;
    animation: desplazamiento .5s ease-in-out;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: center;
    z-index: 5;
}
.btn-menu{
    padding-bottom: 1.5rem;
    font-size: 2rem;
    text-decoration: none;
}
.hamburguesa:hover{
    cursor: pointer;
}
.hamburguesa span{
    display: block;
    background-color: $negro;
    width: 3rem;
    height: .3rem;
    margin-bottom: .5rem;
    margin-right: 1rem;
}
.btn-cerrar:hover{
    cursor: pointer;
}
.btn-cerrar{
    position: absolute;
    top: 0;
    right: 5rem;
    margin: 0;
    padding-right: 1rem;
    font-size: 3rem;
    font-weight: bold;
};

/* Video */
.contenido-header{
    position: relative;
}
.contenido-header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
}
.texto-encabezado{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titulo-encabezado{
    display: flex;
    flex-direction: column;
}
.titulo-encabezado h2{
    color: $negro;
    font-size: 2rem;
    margin:0 auto;
}
.titulo-encabezado span{
    color: $negro;
    display: inline-block;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 3rem;
}
@media(min-width:768px){
    .texto-encabezado h2{
        font-size: 4rem;
    }
}
video{
    width: 100%;
    height: 100%;
}