#pinturas-consumidas-desde-api, #pinturas, #contenedor-favoritos{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(23rem, 1fr));
    width:80%;
    margin: 1rem auto; 
}
.tarjeta-api, .tarjeta-ObrasDeArte{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;

    & img{
        aspect-ratio: 16/9
    }
}